<header class="main-header">
            
            <nav class="main-menu">
                <div class="container">
                    
                    <ul class="main-menu__list">
                        <li class="dropdown">
                            <a href="index.html">Home</a>
                            
                        </li>
                        
                        <li class="dropdown">
                            <a href="Fruits.html">Fruits</a>
                            <ul>
                                <li><a href="AppleDetails.html">Apple</a></li>
                              
								 <li><a href="OrangeDetails.html">Orange</a></li>
								 <li><a href="BananaDetails.html">Banana</a></li>
								 <li><a href="PineappleDetails.html">Pineapple</a></li>
								 <li><a href="SapotaDetails.html">Sapota</a></li>
                                 <li><a href="pomegranate.html">Pomegranate</a></li>
								 <li><a href="watermelon.html">Watermelon</a></li>
								 <li><a href="Grapes.html">Grapes</a></li>
								 <li><a href="banana_tree.html">banana tree</a></li>
                                 
														 
                            </ul>
                        </li>
						
                   
					 <li class="dropdown">
                            <a href="Vegetable.html">Vegetables</a>
                            <ul>
                                <li><a href="vegetable-package-small.html">Grocery Pacakge (100People)</a></li>
                                <li><a href="vegetable-package-medium.html">Grocery Pacakge (500People)</a></li>
                                <li><a href="vegetable-package-large.html">Grocery Pacakge (2000People)</a></li>
                                <li><a href="Onion.html">Onion</a></li>   
                           </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Flowers</a>
                            <ul>
                                <li><a href="Rose.html">Rose</a></li>
                                <li><a href="Orchids.html">Orchids</a></li>
                                <li><a href="jasmine.html">Jasmine</a></li> 
                           </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Poultry</a>
                            <ul>
                                <li><a href="Vanjaram_Fish.html">Vanjaram Fish</a></li>
                                <li><a href="goat.html">Goat</a></li>
                                <li><a href="chicken.html">Chicken</a></li>  
                                <li><a href="milk.html">Milk</a></li> 
                                <li><a href="Egg.html">Egg</a></li>
                           </ul>
                        </li>
                      
						 <li class="dropdown">
                            <a href="grocery.html">Grocery</a>
                            <ul>
                                <li><a href="Brice.html">Biriyani Rice</a></li>
                              
								 <li><a href="Ponnirice.html">Ponni Rice</a></li>
				    
                                <li><a href="tea_powder.html">tea powder</a></li>
				    <li><a href="banana_leaf.html">Banana Leave</a></li>
								
								 
                                
                            </ul>
                        </li>
					
                      
						<li>
                            <a href="about.html">About</a>
                        </li>
						  <li><a href="contact.html">Contact</a></li>
                    </ul>
                   
                </div><!-- /.container -->
            </nav>
            <!-- /.main-menu -->
        </header><!-- /.main-header -->
