<header class="main-header">
            
            <nav class="main-menu">
                <div class="container">
                    
                    <ul class="main-menu__list">
                        <li class="dropdown">
                            <a href="index.html">Home</a>
                            
                        </li>
                        
                        <li class="dropdown">
                            <a href="Fruits.html">Fruits</a>
                            <ul>
                                <li><a href="AppleDetails.html">Apple</a></li>
                              
								 <li><a href="OrangeDetails.html">Orange</a></li>
								 <li><a href="BananaDetails.html">Banana</a></li>
								 <li><a href="PineappleDetails.html">Pineapple</a></li>
								 <li><a href="SapotaDetails.html">Sapota</a></li>
								 						 
                            </ul>
                        </li>
						
                   
					 <li class="dropdown">
                            <a href="Vegetable.html">Vegetables</a>
                            <ul>
                                <li><a href="VegetablePack.html">Vegetable pack</a></li>
                              
								 <li><a href="Onion.html">Onion</a></li>
													
							 
                                
                           </ul>
                        </li>
						 <li class="dropdown">
                            <a href="grocery.html">Grocery</a>
                            <ul>
                                <li><a href="Brice.html">Biriyani Rice</a></li>
                              
								 <li><a href="Ponnirice.html">Ponni Rice</a></li>
								
								 
                                
                            </ul>
                        </li>
					
                      
						<li>
                            <a href="about.html">About</a>
                        </li>
						  <li><a href="contact.html">Contact</a></li>
                    </ul>
                   
                </div><!-- /.container -->
            </nav>
            <!-- /.main-menu -->
        </header><!-- /.main-header -->
